.login{
    width: 320px;
    height: 420px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -12%;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    
}
.login input{
    width: auto;
    margin-bottom: 20px;
}
input::-webkit-input-placeholder {
color: coral;
}
.login input[type ="text"], input[type="password"]{
    border: none;
    width: auto;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.login input[type="submit"],input[type="reset"]{
    background-color: #B71540; 
    color:white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px 5px 5px 5px;
}
.login input[type="submit"]:hover{
    cursor: pointer;
    background-color: #FD7272;
}
.login input[type="reset"]:hover{
    cursor: pointer;
    background-color: #FD7272;
}
